__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

logs/
airflow-webserver.pid
airflow.db
autodata.db
airflow.cfg
standalone_admin_password.txt

.idea/
.vscode/
.DS_Store
Thumbs.db

data/raw/*
data/processed/*

models/*.pkl
models/*.joblib
models/*.h5

!models/metrics_deployed.json
!models/metrics_new.json
